<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='css/style.css') }}"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link href="https://fonts.googleapis.com/css2?family=Sarina&display=swap" rel="stylesheet">
		<title>Wishit Home</title>
	</head>
	<body>
	<div class="nav">
		<div class="nav-left">
			<h1 class="logo">Wish it</h1>
		</div>
		<div class="nav-right">
			<a class="nav-content" href="/#">Support</a>
			<a class="nav-content" href="/#">About</a>
			<a class="nav-content" href="/login">Sign in</a>
			<a class="register" href="/register">Get Started</a>
		</div>
	</div>
	</div>
		<div class="fw-block-grey">
			<div class="hw-left-block">
                <div class="lefting-box">
                    <h1>The easiest way to make wishes come true.</h1>
                    <h4>
                        Graduation, wedding registries, birthdays, holidays, vacations and so
                        much more. Build a wish list for any occasion and easily share it with
                        friends and family.
                    </h4>
                    <a href = "/register" class="btn-dark">Wish it is Free! Start Today</a>
                </div>
				<div class="centering-box">
					<h3 class="fun-txt">"Oh yeah... it's fun"</h3>
					<img
						style="width: 300px"
						src="{{ url_for('static', filename='imgs/stars.svg') }}"
						alt="5 stars"
					/>
				</div>
			</div>
			<div class="hw-right-block">
				<div class="content-block-white">
					<img
						src="{{ url_for('static', filename='imgs/wish_list_fullpage.png') }}"
						alt="A screenshot of Wishit features"
					/>
				</div>
			</div>
		</div>
        <p class="logo-font">Go ahead... wish it!</p> 
		<div class="fw-block-white">
			<div class="flex mx-4">
				<img
					class="home-icon"
					src="{{ url_for('static', filename='imgs/lightbulb.svg') }}"
					alt="a blinking lightbulb"
				/>
				<h4>
					Create a brand new list or use a pre-made template to get started.
				</h4>
			</div>
			<div class="flex mx-4">
				<img
					class="home-icon"
					src="{{ url_for('static', filename='imgs/mouseclick.svg') }}"
					alt="a blinking lightbulb"
				/>
				<h4>
					Use our easy-add tool to populate your wishlist and customize wishes in seconds.
				</h4>
			</div>
			<div class="flex mx-4">
				<img
					class="home-icon"
					src="{{ url_for('static', filename='imgs/friendsmail.svg') }}"
					alt="a blinking lightbulb"
				/>
				<h4>
					Then share your wishlist with friends via social media, email, or QR code.
				</h4>
			</div>
		</div>
        <div class="scroll-box"></div>
	</body>
</html>
